@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TurboRango</h1>
    <p class="lead">Está na hora de procurar um restaurante pra matar essa fome.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>